@import "../../styles/colors";
@import "../../styles/shapes";

.container {
	display: flex;
	align-items: center;
	padding: spacing(1) 0;

	border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);

	&:first-child {
		padding-top: 0;
	}

	&:last-child {
		border-bottom: none;
	}
}

.content {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;

	padding-left: spacing(1);
	min-width: 0;
}

.username {
	font-weight: 500;
	font-size: 18px;
}

.message {
	padding: spacing(1) 0 0;
	color: $darkGrey;
	font-size: 16px;

	> p {
		margin: 0;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}
}