.root {
	position: relative;

	border-top-left-radius: 28px;
	border-top-right-radius: 28px;

	padding: 1em 0.5em;

	background-color: rgb(158, 64, 80);

	&:after {
		position: absolute;
		content: '';
		display: block;
		background-color: rgb(158, 64, 80);
		width: 100%;
		height: 200px;
		left: 0;
	}

	max-height: 200px;
	transition: all 0.3s ease-out;
}

.contacts {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	overflow: hidden;
	
}

.contactContainer {
	margin: 0 0.5em;
	padding: 1em;
	border-radius: 20px;
	max-height: 200px;
	width: 3rem;

	background-color: rgb(126, 38, 53);
	color: #fff;

	text-align: center;

	display: flex;
	flex-direction: column;
	align-items: center;

	>h5 {
		margin: 1em 2em 0 2em;
	}
}

.hidden {
	transform: translateY(48px);
}