@import "../../styles/colors";
@import "../../styles/shapes";

.avatar {
	$size: spacing(4);

	min-width: $size;
	max-width: $size;
	min-height: $size;
	max-height: $size;

	box-sizing: border-box;

	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;

	background-color: $gray;
	border-radius: $radius;

	&.small {
		$size: spacing(2);
		min-width: $size;
		max-width: $size;
		min-height: $size;
		max-height: $size;
		border-radius: $radiusSmall;
	}
}
