.container {
	width: 100vw;
	position: fixed;
	bottom: 0;
	left: 0;

	padding: 1em;
	box-sizing: border-box;

	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;

	box-shadow: 0 -2px 16px 1px rgba($color: #000000, $alpha: 0.1);
	border-radius: 32px;
	background-color: #fff;

	z-index: 999;
}

.item {
	padding: 1em;
}