@import "../../styles/shadows";
@import "../../styles/colors";
@import "../../styles/shapes";
@import "../../styles/animations";

.container {
	height: spacing(6);
	width: 100vw;
	position: fixed;
	bottom: 0;
	left: 0;

	padding: spacing(1);
	box-sizing: border-box;

	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;

	@include shadow();
	
	border-top-left-radius: $radiusLarge;
	border-top-right-radius: $radiusLarge;
	background-color: #fff;

	z-index: 999;
}

.item {
	padding: spacing(1);
	font-size: 24px;
	color: $darkGrey;

	&.active {
		color: $primaryLight;
		font-size: 32px;
	}

	transition: font-size 0.3s cubic-bezier(.58,.01,.61, 2);
}