.container {
	display: flex;
	flex-direction: column;
	max-height: 300px;

	transition: all 0.3s ease-in-out;

	z-index: 9;
}

.title {
	padding: 1.5em 0;
	width: 100%;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
	color: #fff;
	font-weight: 500;
}

.hidden {
	max-height: 0;
	padding: 0;
}

.rippleContainer {
	position: relative;
	background-color: rgb(126, 38, 53);
	border-top-left-radius: 28px;
	border-top-right-radius: 28px;

	display: flex;
	justify-content: center;

	&:after {
		position: absolute;
		content: '';
		display: block;
		background-color: rgb(126, 38, 53);
		width: 100%;
		height: 200px;
		left: 0;
		top: 100%;
	}
}

.ripple {
	margin: 0.5em;
	width: 64px;
	height: 8px;
	background-color: rgba(201, 201, 201, 0.7);
	border-radius: 4px;
}